@font-face {
  font-family: 'simple-font';
  src: url('simplefont.ttf') format('ttf');
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #b51c59;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #808185;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.heading-color {
  color: #f8f5e4;
}

.text-color {
  color: #f8f5e4;
}

p { font-family: 'banks_miles_single_lineRg', Arial, sans-serif; }
h2 { font-family: 'banks_miles_single_lineRg', Arial, sans-serif; }